@import url('switzer.css');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap" rel="stylesheet');

:root {
    --light: #fef8f1;
    --dark: #161925;
    --red-accent: #e63946;
    --pink-accent: #ffadc4;
}

.section-title {
    font-family: 'Switzer-Black', serif;
    font-size: 3.5rem;
    width: 100vw;
    height: 90vh;
    padding-top: 20vh;
}

.section-title .title-text {
    color: var(--dark);
}
.section-title .title-dynamic {
    color: var(--light);
    visibility: visible;
    margin: 0;
    padding: 1rem;
}
.section-title .title-dynamic:empty {
    visibility: hidden;
}

.anchor {
    margin-top: -18vh;
}

.footer {
    font-size: 1.5rem;
    text-align: center;
}

.section-info {
    padding-top: 10vh;
    padding-bottom: 10vh;
    height: 100vh;
    display: flex;
}
.section-info .content {
    font-family: "Rubik", sans-serif;
    font-size: 2rem;
    width: 50%;
    padding: 2rem;   
}
.section-info .content2 {
    font-family: "Rubik", sans-serif;
    width: 50%;
    font-size: 2rem;
    padding: 2rem;   
}
.info {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}
.section-info .content-link {
    color: var(--dark);
    text-decoration: underline;
}
.section-info .image-holder {
    position: relative;
    flex-grow: 1;
}
.section-info .image-holder Image {
    max-height: 10rem;
    width: auto;
    height: auto;
}

.section-info .image-holder2 {
    position: relative;
    height: 5rem;
    max-width: auto;
}
.section-info .image-holder Image {
    width: auto;
    height: auto;
}

.section-info .download-text {
    font-size: 2rem;
}

.download {
    height: 85vh;
}


.w-full {
    width: 100%;
}
.bg-red {
    background-color: var(--red-accent);
}
.bg-pink {
    background-color: var(--pink-accent);
}
.bg-dark {
    background-color: var(--dark);
}
.bg-light {
    background-color: var(--light);
}
.font-light {
    color: var(--light);
}
.font-dark {
    color: var(--dark);
}
.font-switzer {
    font-family: 'Switzer-Black', serif;
}
.font-Rubik {
    font-family: 'Rubik', sans-serif;
}

body {
    background: var(--light);
    color: var(--dark);
}
.color-div{
    width: 100%;
    box-sizing: border-box;
    margin: 0 !important;
    padding-left: 5vw;
    padding-right: 5vw;
}

nav {
    background-color: var(--light);
    padding: 2vh 5vw 2vh 5vw;
    display: flex;
    justify-content: left;
    align-items: center;
    border-bottom: 0px solid #ddd;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
nav a {
    color: var(--dark);
    font-size: 1.5rem;
    margin-left: 30px;
    text-decoration: none;
}
nav a:hover {
    color: var(--red-accent);
}
